OOAD Final Project/Web References/server/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServerX" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerX" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2125/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2125/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usersParent">
        <xs:sequence>
          <xs:element minOccurs="0" name="DietPlan" nillable="true" type="tns:dietPlan" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="usersParent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserProfilePic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="usersParent" nillable="true" type="tns:usersParent" />
  <xs:complexType name="dietPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friday" nillable="true" type="tns:recipe" />
      <xs:element minOccurs="0" name="Monday" nillable="true" type="tns:recipe" />
      <xs:element minOccurs="0" name="Saturday" nillable="true" type="tns:recipe" />
      <xs:element minOccurs="0" name="Sunday" nillable="true" type="tns:recipe" />
      <xs:element minOccurs="0" name="Thursday" nillable="true" type="tns:recipe" />
      <xs:element minOccurs="0" name="Tuesday" nillable="true" type="tns:recipe" />
      <xs:element minOccurs="0" name="Wednesday" nillable="true" type="tns:recipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dietPlan" nillable="true" type="tns:dietPlan" />
  <xs:complexType name="recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Categories" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipe_thumb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Video_url" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="recipe" nillable="true" type="tns:recipe" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfrecipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="recipe" nillable="true" type="tns:recipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrecipe" nillable="true" type="tns:ArrayOfrecipe" />
  <xs:complexType name="ArrayOfcategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="category" nillable="true" type="tns:category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcategory" nillable="true" type="tns:ArrayOfcategory" />
  <xs:complexType name="category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="category" nillable="true" type="tns:category" />
</xs:schema>